<h2 id="title">ember-named-yields</h2>

{{outlet}}
{{#my-card as |yields|}}
  Test
  {{#yields.named 'footer'}}
    Footer
  {{/yields.named}}

  {{#each items as |item|}}
    {{#yields.header append=true as |args|}}
      {{args.name}} {{item}}
    {{/yields.header}}
  {{/each}}
  Me
{{/my-card}}