<h2 id="title">ember-named-yields</h2>

{{outlet}}
{{#my-card as |yields|}}
  Test
  {{#yields.named 'footer'}}
    Footer
  {{/yields.named}}
  {{#yields.header as |args|}}
    {{args.name}}
  {{/yields.header}}
  Me
{{/my-card}}